body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f5f9;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: white;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    border-radius: 30px;
}

.logo {
    display: inline-block;
    margin-right: 80px;
}

#logo_app {
    max-width: 120px;
    height: auto;
}

nav {
    display: inline-block;
    margin-left: 40px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    margin-right: 10px;
    padding: 5px 10px;
}

main {
    text-align: center;
    padding: 20px;
}

#carousel {
    display: flex;
    overflow: hidden;
    margin: 20px auto;
    max-width: 100%;
    position: relative;
}

.slide img {
    width: 110%;
    height: auto;
    object-fit: cover;
}

.slide {
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

.botones {
    margin-bottom: 20px;
}

.botones button {
    padding: 10px 20px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #28517d;
    color: white;
    cursor: pointer;
}

.botones button:hover {
    background-color: #5d95d0;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #28517d;
    color: white;
    margin-top: auto;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


/* Estilos para el fondo de la página */
#background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#imgFondo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilos para la tabla de fichajes */
#fichajes-container {
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    overflow-x: auto;
}

#fichajes-table {
    width: 55%;
    border-collapse: collapse;
}

#fichajes-table th,
#fichajes-table td {
    padding: 15px;
}

#fichajes-table th {
    text-align: left;
    background-color: #1d2023;
}

#fichajes-table td {
    text-align: left;
    background-color: #262a2d;
}


#fichajes-table tbody tr:nth-child(even) {
    background-color: #1f3a4a;
}

/* Perfil */
#perfil {
    margin: 20px;
    justify-content: flex-end;
}

#titulo_perfil {
    text-align: center;
}

.perfil-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 20px;
}

.perfil-info p {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
}

.foto-perfil {
    margin-right: 20px;
}

.foto-perfil img {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

.datos-personales {
    flex: 1;
    margin-top: 10px;
}

.datos-personales h3 {
    margin-bottom: 15px;
    font-size: 20px;
}

.datos-personales p {
    margin-bottom: 10px;
    font-size: 20px;
}

.editar-perfil {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.editar-perfil h3 {
    margin-bottom: 15px;
    font-size: 20px;
}

.editar-perfil label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
}

.editar-perfil input[type="text"],
.editar-perfil input[type="email"],
.editar-perfil input[type="password"],
.editar-perfil input[type="tel"],
.editar-perfil input[type="date"] {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
}

.editar-perfil button[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #28517d;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.editar-perfil button[type="submit"]:hover {
    background-color: #5d95d0;
}

#editarPerfilBtn {

    padding: 10px 20px;
    margin-left: 25px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #28517d;
    color: white;
    cursor: pointer;
}

#editarPerfilBtn:hover {
    background-color: #5d95d0;
}
.error {
    font-family: Arial, sans-serif;
    display: inline-block; 
    background-color: #f5a2a2;
    padding: 20px; 
    border-radius: 5px;
    width: calc(100% - 22px); 
    margin: 0 auto 10px; 
}